html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $gray-back;
  font-family: Verdana,Arial,sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

.clearfix {
  clear: both;
  overflow: hidden;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card {
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 1px 1px 3px $gray-light, -1px -1px 3px $gray-light;
  box-shadow: 1px 1px 3px $gray-light, -1px -1px 3px $gray-light;
}

button:disabled {
  background-color: $gray-light;
  cursor: not-allowed;
}